// swiper
.slick-dots
	bottom: -40px

	& li
		margin: 0 4px

		& button
			width: 12px
			height: 12px
			text-indent: -999px
			cursor: pointer
			background-color: #DFE3EB
			border-radius: 50%
			transition: background-color .2s
			&:hover
				background-color: #FF3C3C

		& .slick-active button
			width: 12px
			height: 12px
			background-color: #E52D2D
			transition: background-color .2s
			&:hover
				background-color: #FF3C3C

