@import './font.sass'
@import './colors.sass'
@import './base.sass'
	
$max-width: 1248px
$min-width: 280px

// Экраны
// ======
$desktop-lg: 1399
$desktop: 1199
$tablet: 991
$mobile: 767
$mobile-sm: 575

// Шрифты
// ======
$headerFont: 'Alegreya', sans-serif
$textFont: 'Roboto', sans-serif
	
@mixin clearfix
	&:after
		content: ''
		display: table
		clear: both


@mixin grad($color1,$color2)
	background: $color2
	background: linear-gradient(top, $color1, $color2)


@mixin rotate($rotate)
	transform: rotate($rotate+deg)


@mixin max-width($width)
	@media only screen and (max-width: #{$width}px)
		@content

@mixin min-width($width)
	@media only screen and (min-width: #{$width}px)
		@content

@mixin min-max-width($minWidth, $maxWidth)
	@media only screen and (min-width: #{$minWidth}px) and (max-width: #{$maxWidth}px)
		@content

@mixin max-height($height)
	@media only screen and (max-height: #{$height}px)
		@content

@mixin min-height($height)
	@media only screen and (min-height: #{$height}px)
		@content


// Основные медиазапросы
// =====================
// desktop >= 992px
@mixin desktop()
	+min-width($tablet)
		@content

// desktop-lg >= 1400px
@mixin desktop-lg()
	+min-width($desktop-lg)
		@content

// 1200px <= desktop-md <= 1399px
@mixin desktop-md()
	+min-max-width($desktop, $desktop-lg)
		@content

// 992px <= desktop-sm <= 1199px
@mixin desktop-sm()
	+min-max-width($tablet, $desktop)
		@content

// 768px <= tablet <= 991px
@mixin tablet()
	+min-max-width($mobile, $tablet)
		@content

// mobile <= 767px
@mixin mobile()
	+max-width($mobile)
		@content

// 576px <= mobile-lg <= 767px
@mixin mobile-lg()
	+min-max-width($mobile-sm, $mobile)
		@content

// mobile-sm <= 575px
@mixin mobile-sm()
	+max-width($mobile-sm)
		@content

// desktop-tablet >= 768px
@mixin desktop-tablet()
	+min-width($mobile)
		@content

// tablet-mobile <= 991px
@mixin tablet-mobile()
	+max-width($tablet)
		@content




@mixin full-wrapper()
	margin: 0 auto
	max-width: $max-width
	min-width: $min-width
	+desktop-lg
		padding: 0 64px
	+desktop()
		padding: 0 32px
	+tablet-mobile()
		padding: 0 16px


@mixin focus()
	&:focus
		border: 3px solid $focusColor


@mixin width($width)
	max-width: $width
	width: $width


@mixin placeholder()
	&::-webkit-input-placeholder
		@content
	&::-moz-placeholder
		@content
	&:-moz-placeholder
		@content
	&:-ms-input-placeholder
		@content

	
@mixin header1()
	font-family: $headerFont
	line-height: 120%
	font-weight: 900
	+desktop
		font-size: 72px
	+tablet
		font-size: 52px
	+mobile
		font-size: 40px


@mixin header2()
	font-family: $headerFont
	line-height: 140%
	font-weight: 900
	+desktop
		font-size: 52px
	+tablet
		font-size: 40px
	+mobile
		font-size: 28px


@mixin header3()
	font-family: $headerFont
	line-height: 130%
	font-weight: 800
	+desktop
		font-size: 32px
	+tablet
		font-size: 24px
	+mobile
		font-size: 20px


@mixin header4()
	font-family: $headerFont
	line-height: 130%
	font-weight: 800
	+desktop
		font-size: 22px
	+tablet
		font-size: 18px
	+mobile
		font-size: 16px


@mixin accent()
	font-family: $textFont
	line-height: 150%
	font-weight: 800
	+desktop
		font-size: 24px
	+tablet
		font-size: 18px
	+mobile
		font-size: 16px


@mixin paragraph()
	font-family: $textFont
	line-height: 150%
	font-weight: 400
	+desktop
		font-size: 14px
	+tablet
		font-size: 14px
	+mobile
		font-size: 12px


@mixin description()
	font-family: $textFont
	line-height: 150%
	font-weight: 400
	+desktop
		font-size: 12px
	+tablet
		font-size: 12px
	+mobile
		font-size: 11px


@mixin counterFont()
	font-family: $textFont
	font-weight: 400
	font-size: 16px
	

@mixin buttonFont()
	font-family: $headerFont
	font-weight: 500
	+desktop
		font-size: 18px
	+tablet-mobile
		font-size: 16px

