@font-face
    font-family: 'Roboto'
    src: url('../../fonts/Roboto/Roboto-Regular.ttf')
    src: local('Roboto Regular'), local('Roboto-Regular'), url('../../fonts/Roboto/Roboto-Regular.ttf') format('truetype')
    font-weight: 400
    font-style: normal

@font-face
    font-family: 'Alegreya'
    src: url('../../fonts/Alegreya/Alegreya-ExtraBold.ttf')
    src: local('Alegreya ExtraBold'), local('Alegreya-ExtraBold'), url('../../fonts/Alegreya/Alegreya-ExtraBold.ttf') format('truetype')
    font-weight: 900
    font-style: normal

@font-face
    font-family: 'Alegreya'
    src: url('../../fonts/Alegreya/Alegreya-ExtraBold.ttf')
    src: local('Alegreya ExtraBold'), local('Alegreya-ExtraBold'), url('../../fonts/Alegreya/Alegreya-ExtraBold.ttf') format('truetype')
    font-weight: 800
    font-style: normal

@font-face
    font-family: 'Alegreya'
    src: url('../../fonts/Alegreya/Alegreya-ExtraBold.ttf')
    src: local('Alegreya ExtraBold'), local('Alegreya-ExtraBold'), url('../../fonts/Alegreya/Alegreya-ExtraBold.ttf') format('truetype')
    font-weight: 500
    font-style: normal