@import @sassConfig
	
	
.pizza-card
	position: relative
	
	display: flex
	flex-direction: column
	
	box-shadow: 0px 2px 5px rgba(165, 169, 176, 0.3)
	border-radius: 5px

	transition: box-shadow 0.3s ease-in-out
	width: 100%
		
	+desktop
		min-height: 540px
		max-height: 540px
		
	+tablet
		max-height: 490px
		min-height: 490px
		
	+mobile-lg
		padding: 8px
		width: 100%
		flex-direction: row
		
	+mobile
		padding: 8px
		flex-direction: row
		
	&__cart-data
		width: 100%
		align-items: center
		display: flex
		justify-content: space-between
		
		flex-wrap: wrap
				
		&_block
			padding: 0 5px
			
			+mobile
				padding-bottom: 10px
				
			&:first-child
				width: 130px
		
	&_in-cart
		display: flex
		flex-direction: row
				
		justify-content: flex-start
		
		height: 100%
		
		box-shadow: none
		
		border-radius: 0
		
		border-bottom: 1px solid $veryLightGray
		
		padding: 20px 0
		
		+desktop
			max-height: 116px
			min-height: 116px
			
		+tablet
			max-height: 116px
			min-height: 116px
			
		& .pizza-card__tags
			& svg
				z-index: 9999
				width: 12px
				height: 12px
		
		& .pizza-card__ingredients
			text-align: left
			padding: 0
			
		& .pizza-card__tags
			top: 8px
			left: 8px
			width: 12px
			
		& .pizza-card__details
			display: none
			
		& .pizza-diameter
			display: none
			
		& .pizza-card__size_large
			margin: 0 0 0 12px
			
		& .pizza-card__size
			top: 0
			
			&_large
				margin: 0 6px
				width: 80px
				min-width: 80px
				max-width: 80px
				height: 80px
					
			&_medium
				top: 5px
				width: 70px
				min-width: 70px
				max-width: 70px
				height: 70px
				
			&_small
				top: 5px
				width: 60px
				min-width: 60px
				height: 60px
				
			
		& .pizza-card__image
			top: -5px
			left: -5px
			width: 70px
			height: 70px
			
		& button
			display: none
		
	&:hover
		box-shadow: 0px 4px 10px rgba(165, 169, 176, 0.7)
		
		.pizza-card__tags
			opacity: 1
		
		.pizza-card__title
			color: $buttonColor
	
	&__tags
		position: absolute
		
		top: 18px
		left: 16px
		display: flex
		
		flex-direction: column
		
		opacity: 0
		
		transition: opacity 0.3s ease-in-out
		
		fill: $butttonDisabledColor
		
		+tablet
			top: 15px
			left: 11px
			
		+mobile
			top: 8px
			left: 8px
			width: 12px
		
		& svg
			margin-bottom: 5px !important
			
	&__details
		display: flex
		flex-direction: column
		align-items: center
		
		+mobile		
			align-items: flex-start
		
	&__ingredients
		color: $lightGray
		text-align: center
		padding: 0 20px
		
		+mobile
			text-align: left
			padding: 0

	&__title
		transition: color 0.3s ease-in-out
		
		margin: 0 0 8px
		
		&_padding
			padding: 0 16px 0 0
		
	&__price
		margin: 12px 0
		text-align: center

		+mobile
			margin-top: 0
	
		&:after
			content: " руб."

		&:before
			content: "от "

	&__purchases
		display: flex
		flex-direction: column
		align-items: center
		width: 100%
		padding: 0 10px
		
		+mobile
			padding: 0
			align-items: flex-start
		
	&__button
		+tablet
			width: 196px
			height: 40px
			
		+mobile
			width: 120px
			height: 28px
	
	
	&__size
		border-radius: 50%
		border: 1px dashed #DCDFE2

		&_large
			position: relative
			top: 20px
			margin: 0 auto 40px
			width: 200px
			min-width: 200px
			max-width: 200px
			height: 200px
			
			+mobile
				margin: 0 6px
				top: 12px
				width: 80px
				min-width: 80px
				max-width: 80px
				height: 80px
				
		&_medium
			position: relative
			top: 15px
			margin: 0 auto
			width: 170px
			min-width: 170px
			max-width: 170px
			height: 170px
			
			+mobile
				top: 5px
				width: 70px
				min-width: 70px
				max-width: 70px
				height: 70px
			
		&_small
			position: relative
			top: 15px
			margin: 0 auto
			width: 140px
			min-width: 140px
			max-width: 140px
			height: 140px
			
			+mobile
				top: 5px
				width: 60px
				min-width: 60px
				height: 60px
			
		
		& img
			border-radius: 50%
			
	&__image
		position: relative
		border-radius: 50%
		margin: 0 auto
		
		width: 140px
		height: 140px
	
		transition: scale 0.3s ease-in-out
	
		+mobile
			top: -5px
			left: -5px
			width: 70px
			height: 70px		
		
		&_l
			scale: 1.5
			+mobile
				scale: 1.2

		&_m
			margin: 0 auto
			scale: 1.2
			
			+mobile
				scale: 1.1

		&_s
			scale: 1
			+mobile
				scale: 0.9

	
.pizza-diameter
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	width: 182px
	
	+mobile
		width: 162px
		align-items: flex-start
	
	&_wrap
		width: 100%
		margin: 8px auto 0
		
		+mobile
			margin: 8px 0
		
	&__title
		margin: 0 0 4px
	
	&__variants
		margin: 0
	
		width: 182px
		
		+mobile
			width: 162px
	
		display: flex
		border-radius: 4px
		background: $subButtonColor
		height: 32px
		
	&__item
		width: 58px
		height: 28px
		margin: auto
		
	&__button
		width: 100%
		height: 100%
		border: none
		color: #82909F
		text-align: center
		border-radius: 2px
		background: none
		
		&:focus
			background: #fff
			border: none
		
		&:before, &:after
			background: none	
	
		&_selected
			color: $black
			background: $white
			
