@import @sassConfig

.pizza-list
    display: flex
    flex-wrap: wrap
    
    margin-bottom: 100px !important
    
    +tablet
        margin-bottom: 80px !important
    
    +mobile
        margin-bottom: 60px !important
    
        flex-direction: column
    
    &__wrapper
        +full-wrapper
        
    &__element
        padding: 16px
        
        width: 25%
        
        +desktop-sm
            width: 33.33333%
        
        +tablet
            width: 33.33333%
        
        +mobile-lg
            width: 100%
            margin: 6px 0
        
        +mobile
            width: 100%
            margin: 6px 0
            padding: 0