@import @sassConfig


.delivery
    padding: 72px 0 80px 0
    background: $deliveryColor

    +tablet
        padding: 40px 0 60px 0
    +mobile
        padding: 24px 0 28px 0

    &__container
        +full-wrapper
    
    &__title
        +header2
        text-align: center
        margin-bottom: 26px
    
    &__grid
        display: flex
        justify-content: space-between
        margin: 0 -16px
        +mobile
            flex-wrap: wrap
            margin: 0 -8px
