@import @sassConfig


.find-us
	&__title
		text-align: center
		margin-bottom: 13px
		color: $black
		+tablet
			margin-bottom: 0
		+mobile
			margin-bottom: 4px

	&__wrapper
		+full-wrapper


	&__inst
		+header4
		color: $lightGray
		text-align: center
		display: block
		margin-bottom: 46px
		transition: opacity .2s, color .3s

		+tablet
			margin-bottom: 20px
		+mobile
			margin-bottom: 20px

		&:hover
			color: $black
			opacity: .7
