@import @sassConfig

.counter
	display: flex
	align-items: center

	input[type="number"]
		padding: 11px 0
		text-align: center
		width: 60px
		margin: 0 8px
		+counterFont
		color: $black
		border: 1px solid $subButtonColor
		border-radius: 4px
		+mobile
			padding: 8px 0
			width: 50px


		&:hover,
		&:focus
			appearance: none
			-moz-appearance: textfield

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button
			margin: 0
			-webkit-appearance: none

	svg
		circle
			fill: #C5CBD5
			transition: fill .3s

	svg:hover
		circle
			fill: $buttonColor

	&Input
		+counterFont
		color: $black

