@import @sassConfig

.footer
    padding: 32px 0 34px 0
    flex-shrink: 1
    background: $black
    
    +tablet
        padding: 23px 0

    +mobile
        padding: 25px 0 40px 0


    &__wrapper
        +full-wrapper

    
    &__logo
        fill: $white
        
        width: 112px
        height: 52px
        
        +tablet
            width: 90px
            height: 40px
        
        +mobile
            width: 80px
            height: 40px

    &__grid
        display: flex
        align-items: center
        color: $white
        +mobile
            flex-flow: column


    &__rules
        +description
    
        color: $white
        text-decoration: none
        margin-left: auto
        transition: opacity .3s
    
        +mobile
            margin: 0 auto

        &:hover
            opacity: .7
