@import @sassConfig

.suggestion-list
    padding: 45px 0 60px
    +tablet
        padding: 30px 0 40px
    +mobile
        padding: 30px 0

    &__wrapper
        +full-wrapper

    &__box
        margin: 0 -16px
        +mobile
            margin: 0 -8px

