@import @sassConfig

.pizza-filter
    text-align: center
    +tablet
        font-size: 40px
        line-height: 150%
    +mobile
        font-size: 28px
        line-height: 125%

    &__title
        margin-bottom: 55px
        +tablet
            margin-bottom: 20px
        +mobile
            margin-bottom: 24px


    &__grid
        display: flex
        justify-content: center
        margin-bottom: 40px
        +mobile
            margin-bottom: 20px


    &__item
        &-icon
            margin: 0 auto
            width: 24px
            height: 24px
            fill: $butttonDisabledColor
            top: calc(50% - 10px)
            left: calc(50% - 13px)
            opacity: 0
            transition: transform .3s, opacity .1s .1s
            z-index: -1
            +mobile
                position: static
                width: 19px
                opacity: 1
                
            &_active
                fill: $buttonColor
            
        
        +mobile
            height: 20px
                    
        &-text
            +mobile
                display: none
            
            font: 900 18px/133.33333% $headerFont
            &_active
                color: $buttonColor

        &-content
            text-transform: uppercase
            margin: 0 20px
            position: relative
            cursor: pointer
            +tablet
                font-size: 16px


            &:hover .pizza-filter__item-icon
                opacity: 1
                transform: translateY(-15px)
                +tablet
                    transform: translateY(-8px)
                +mobile
                    transform: translateY(-8px)
