@import @sassConfig

.wrapper
    width: 40px
    height: 40px
    position: relative
    
.inner
    position: absolute
    top: 10px
    right: 8px
    width: 24px
    height: 19px
    cursor: pointer

.burger
    position: relative
    top: calc(50% - 1.5px)
    left: 0
    width: 24px
    background: $black
    height: 3px
    border-radius: 1.5px


    &:after
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 24px
        background: $black
        height: 3px
        border-radius: 1.5px
        transform: translateY(-8px)

    &:before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 19px
        background: $black
        height: 3px
        border-radius: 1.5px
        transform: translateY(8px)
        transition: width .3s


.inner:hover .burger:before
    width: 24px

.color.burgerClose::before,
.color.burgerClose::after
    background: $black

.burgerClose
    position: relative
    top: calc(50% - 1.5px)
    transition: transform .3s

    &:before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 24px
        background: $white
        height: 3px
        border-radius: 1.5px
        transform: rotate(45deg)
        transition: width .3s

    &:after
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 24px
        background: $white
        height: 3px
        border-radius: 1.5px
        transform: rotate(-45deg)


.inner:hover .burgerClose
    transform: rotate(135deg)
    transition: transform .3s
