@import @sassConfig

.card
    color: $black
    padding: 0 16px
    +mobile
        padding: 0 8px

    &__title
        margin-top: 12px
        margin-bottom: 14px
        +tablet-mobile
            margin-bottom: 8px