@import @sassConfig

.modal
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	height: 100vh
	display: flex
	justify-content: center
	align-items: center
	z-index: 9999
	background: rgba(0,0,0,.75)
	opacity: 0
	pointer-events: none
	transition: opacity .3s
	
	
	&_open
		opacity: 1
		pointer-events: all
		transition: opacity .3s


	&__box
		max-width: 704px
		width: 100%
		max-height: 90vh
		background: $white
		padding: 32px 32px 40px 32px
		border-radius: 5px
		overflow-y: scroll
		
		&::-webkit-scrollbar
			width: 0
			background: transparent
		+mobile
			padding: 16px 16px 20px 16px

	&__header
		+header3
		color: $black
		padding-bottom: 24px
		display: flex
		justify-content: space-between
		border-bottom: 1px solid $veryLightGray
