@import @sassConfig

.header__contact
    display: flex
    align-items: center
    justify-content: center
    flex-shrink: 0
    height: 100%

    &-data
        padding-left: 12px
        +tablet-mobile
            display: none

    &-phone-link
        display: flex
        align-items: center

    &-phone-icon
        svg
            width: 40px
            +mobile
                width: 32px

            &:hover
                opacity: .7
                transition: opacity .3s

    &-time
        font: 400 12px/150% $textFont
        color: #848A9A

    &-phone
        font: 900 24px/137.5% $headerFont
        color: $black
        transition: color .3s

        &:hover
            color: $buttonColor

