@import @sassConfig

.order
    color: $black
    display: flex
    flex-flow: column
    
    &__card
        position: absolute
    
    &__input
        flex: 1
        position: relative
        display: flex
        
        &:first-child
            margin-right: 24px
            
            +mobile
                margin-bottom: 20px
                margin-right: 0
        
    &__half-inputs
        display: flex
        margin-bottom: 24px
        +mobile-sm
            flex-flow: column
            width: 100%
    
    &__address
        margin-bottom: 12px
    
    &__title
        font: 800 18px/136% $headerFont
        margin-bottom: 14px

    &__cards-list
        margin-bottom: 23px

    &__total-price
        align-self: flex-end
        margin-bottom: 20px
        font: 800 18px/136% $headerFont
    
        span
            font-size: 32px
            margin-left: 20px

    &__form
        display: flex
        flex-flow: column

    &__contacts
        margin-bottom: 12px

    &__confirmation
        padding: 14px
        margin-bottom: 23px
        margin-top: 24px
        max-width: 240px
        +mobile-sm
            max-width: 100%
        
        &-text
            font: 400 12px/150% $textFont
            color: #848A9A
