@import @sassConfig

.button
	position: relative
	background: $buttonColor
	cursor: pointer
	width: 100%
	height: 52px
	color: $buttonTextColor
	border-radius: 5px
		
	+buttonFont
	+focus
	
	&:disabled
		color: $butttonDisabledTextColor
		background: $butttonDisabledColor

	&:hover
		z-index: 2

	&:hover:after,
	&:hover:before
		height: 50%
		opacity: 1


	&:after,&:before
		content: ""
		position: absolute
		opacity: 0
		left: 0
		width: 100%
		height: 0
		z-index: -1
		background: $buttonHoveredColor
		transition: height .3s ease-in-out
		
	
	&:after
		border-bottom-left-radius: 5px
		border-bottom-right-radius: 5px
		top: 50%

	
	&:before
		border-top-left-radius: 5px
		border-top-right-radius: 5px
		bottom: 50%


	&:focus
		background: $buttonPressedColor
	
	
	&__link
		display: block
		padding: 0 auto
		text-decoration: none
		text-align: center
		max-width: 304px
		width: 100%
		+mobile
			width: auto
			padding: 14px
