@import @sassConfig


.delivery-card
    padding: 0 16px
    width: calc(100% / 12) * 4
    +mobile
        padding: 0 8px
        width: 100%
    
    &__title
        margin: 0
    
    &__content
        color: $black
        background-color: $white
        padding: 34px 24px 35px 25px
        border-radius: 5px
        box-shadow: 0 2px 5px rgba(199, 193, 168, 0.3)
        display: flex
        box-sizing: border-box
        height: 100%
        +tablet
            padding: 25px 20px 40px 20px
            flex-flow: column

        +mobile
            padding: 16.4px 16px 20px 14.95px
            margin-bottom: 12px
            height: 114px

    &__image
        margin-right: 25px
        +desktop
            min-width: 80px
            max-width: 80px
            min-height: 80px        
            max-height: 80px        
        +tablet
            margin-right: 0
            margin-bottom: 13px
            align-self: flex-start
            max-height: 55px
            max-width: 55px
        +mobile
            margin-right: 15px
            max-height: 46px
            max-width: 46px

