@import @sassConfig

.header__menu
    +tablet-mobile
        display: none

    &-link
        font: 900 18px/150% $textFont
        letter-spacing: 1px
        color: $black
        text-transform: uppercase
        transition: color .3s
        &:hover
            color: $buttonColor
            
            
    &-mobile
        text-align: center
        
        border-bottom: 1px solid #1D2228
        
        padding: 24px 0

        &:last-child
            border-bottom: none
            padding: 24px 0 0 0

        & .header__menu-link
            display: inline-block
            font: 900 18px/150% $headerFont
            letter-spacing: 1px
            color: $white
            width: 100%
            
            text-transform: uppercase
            transition: color .3s
            
            &:hover
                color: $buttonColor
