@import @sassConfig


.banner
	padding: 10px 0 30px
	position: relative
	overflow: hidden
	display: flex
	justify-content: center

	+mobile
		flex-flow: column
	
	&__title
		margin-bottom: 12px
		+mobile
			margin-bottom: 8px
	
	&__text
		margin-bottom: 32px
		+tablet
			margin-bottom: 24px
		+mobile
			margin-bottom: 16px

	&__wrapper
		+full-wrapper
		display: flex
		align-items: center
		width: calc(100% - 32px)
		
		+mobile
			padding: 0

	&__content-inner
		width: calc(50% - 32px)
		+mobile
			width: 100%

	&__image
		position: absolute
		left: calc(50% - 32px)
		z-index: -1
		+desktop
			height: auto
			width: 900px
		+tablet
			left: 54%
			height: 300px
		+mobile
			position: static
			width: 100%
			height: auto
			
		&-wrap
			margin: 0
			height: 696px
			+desktop
				height: 560px
			+tablet
				height: 300px
			+mobile
				width: 100%
				height: auto

	&__button
		display: flex
		align-items: center
		justify-content: center
		+mobile
			width: 100%
			max-width: none
			