@import @sassConfig


.about
    &__title
        margin-bottom: 12px
        
        +mobile
            margin-bottom: 4px
            
    &__image
        padding: 0 16px
        
        +mobile
            padding: 0 8px
        & img
            max-width: 304px
            border-radius: 40%
        
            +tablet
                max-width: 243px
        
            +mobile
                width: 77px !important
                min-width: 77px !important
                max-width: 77px !important
                
    &__card-content
        max-width: calc(100% / 8 * 4)
        padding: 0 16px
        
        +tablet
            max-width: calc(100% / 6 * 3)
        
        +mobile
            padding: 0 8px
            max-width: 100%

    &__card
        color: $black
        margin-bottom: 40px
        display: flex
        align-items: center
        
        +tablet-mobile
            margin-bottom: 20px
        
        +mobile
            align-items: flex-start

        &:nth-child(even)
            justify-content: flex-end
        
            +mobile
                justify-content: flex-start

            .about__image
                order: 1

                +mobile
                    order: inherit

            .text
                order: inherit
    
                +mobile
                    order: 1

