@import @sassConfig

.header__langs
	&-tag
		font: 900 18px/133% $headerFont
		color: $black
		transition: color .3s

		&:hover
			color: $buttonColor

	&-switcher
		background: $subButtonColor
		width: 48px
		height: 48px
		border-radius: 50%
		display: flex
		justify-content: center
		align-items: center
