@import @sassConfig

.header
    position: relative
    padding: 46px 0
    z-index: 10
    display: block
    +tablet
        padding: 32px 0 41px
    +mobile
        padding: 12px 0 21px

    &__burger
        margin-left: 32px
        +desktop
            display: none
        +mobile
            margin-left: 24px


    &__wrapper
        +full-wrapper

    &__grid
        display: flex
        align-items: center
        box-sizing: border-box
        justify-content: space-between

    &__item:first-child
        width: calc(100% / 12 * 2)
        +mobile
            width: 85px
        
    &__item:nth-child(2)
        width: calc(100% / 12 * 4)
        display: flex
        align-items: center
        justify-content: space-around
        +desktop-sm
            display: none

    &__item:last-child
        max-width: 46%
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center

        +desktop-sm
            max-width: 100%
            width: auto

        +tablet-mobile
            justify-content: flex-end

    &__contact
        flex-shrink: 0


    &__cart
        flex-shrink: 0
        +desktop-sm
            margin-left: 32px
        +tablet
            margin-left: 32px
        +mobile
            margin-left: 24px

    &__lang
        margin-left: 40px
        +mobile
            display: none




