@import @sassConfig

.cart
    display: flex
    align-items: center
    flex-shrink: 0
    cursor: pointer

    &__logo
        width: 40px
        position: relative
        display: flex
        align-items: center
        +tablet-mobile
            cursor: pointer
            
        +mobile 
            width: 32px
    
        svg
            width: 40px
            +mobile
                width: 32px

    &__goods
        position: absolute
        background: $buttonColor
        width: 20px
        height: 20px
        border-radius: 50%
        top: -10px
        right: -10px
        display: flex
        justify-content: center
        align-items: center

        span
            color: $white
            font: 500 11px/159% $textFont


    &__text-content
        padding-left: 12px
        +tablet-mobile
            display: none

    &__title
        font: 900 18px/133.33% $headerFont
        text-transform: uppercase
        color: $black
        transition: color .3s
        &:hover
            color: $buttonColor

    &__text
        color: #848A9A !important
