@import @sassConfig

.gallery
    display: flex
    flex-wrap: wrap

    &__grid
        position: relative
        max-width: 20%
        line-height: 0
        +tablet
            max-width: calc(100% / 3)
            &:nth-child(n+7)
                display: none
        +mobile
            max-width: 50%
            &:nth-child(n+5)
                display: none
