@import @sassConfig

.mobile-menu
    color: $white
    position: fixed
    background: #313945
    top: 0
    bottom: 0
    right: 0
    height: 100vh
    width: 320px
    z-index: 100
    overflow: hidden
    display: flex
    flex-flow: column
    align-items: center
    transition: right .3s
    
    &__hidden
        right: -400px
    
    &__items
        width: 200px
        margin: 0 auto

    &__contacts
        text-align: center
        margin-top: auto
        margin-bottom: 40px

    
    &__working-time
        font: 400 12px/150% $textFont
        color: #A8B0BC
    
    &__title
        font: 400 12px/150% $textFont
        letter-spacing: 1px
        text-transform: uppercase
        color: #A8B0BC
    
    &__phone a
        font: 900 24px/137.5% $headerFont
        letter-spacing: 1.33333px
        text-transform: uppercase
        text-decoration: none
        color: $white
        transition: color .3s
        &:hover
            color: $buttonColor
        
    
    &__header
        padding: 50px 0 0 0
        display: flex
        justify-content: flex-end
        margin-bottom: 43.55px
        +tablet
            padding: 44px 36px 0 0

        svg
            fill: $white
            +tablet
                display: none

    &__langs
        margin-bottom: 32px
        & a
            text-align: center
            font: 700 12px/133.3% $headerFont
            letter-spacing: 0.666667px
            text-transform: uppercase
            text-decoration: none
            color: $white
            transition: color .3s
            
            +tablet
                display: none

            &:hover
                color: $buttonColor

    &__wrapper
        +full-wrapper
