@import @sassConfig


.about
    padding: 100px 0 16px
    
    +tablet
        padding: 84px 0 20px
    
    +mobile
        padding: 21.27px 0 10px 0

    &__wrapper
        margin: 0 auto
        padding: 0 32px
        min-width: 280px
        max-width: 928px
        
        +mobile
            padding: 0 16px

    &__grid
        font: 400 14px/150% $textFont
        color: $black
        margin: 0 -16px
    
        +mobile
            margin: 0 -8px
