@import @sassConfig
    
.radio
    display: flex
    align-items: center
    margin-bottom: 16px
  
    &__element
        position: absolute
        z-index: -1
        opacity: 0
            
        &:checked + .radio__label:after
            opacity: 1
            width: 10px
            height: 10px
            transition: opacity .2s

    &__label
        position: relative
        cursor: pointer
        padding-left: 28px
        
        &:before
            content: ''
            position: absolute
            left: 0
            top: -2px
            width: 20px
            height: 20px
            border: 1px solid $black
            border-radius: 50%
            background: $white

        &:after
            content: ''
            position: absolute
            top: 4px
            left: 6px
            height: 0
            width: 0
            border-radius: 50%
            background: $buttonColor
            opacity: 0
