@import @sassConfig
	
.footer
	&__contacts
		display: flex
		flex-direction: column
		
		
		&_wrapper
			margin-left: 100px

			+tablet
				margin-left: 80px

			+mobile
				margin: 0 0 10px 0


	&__working-hours
		+mobile
			text-align: center

			
	&__telephone
		font: 900 24px/130% $headerFont
				
		height: auto
		
		padding: 0
		
		margin-bottom: 6px
		color: $white
		background: none
		border: none
	
		text-decoration: none
		transition: opacity .3s

		&:before, &:after
			background: none

		&:hover
			opacity: .7
	
		+mobile
			margin: 20px 0 0 0

		+tablet-mobile
			margin-bottom: 3px
			text-transform: uppercase
