@import @sassConfig


.input
	flex: 1
	position: relative
	display: flex
	
	&__label
		font: 400 16px/112% $textFont
		+mobile
			font-size: 14px
		
		position: absolute
		left: 14px
		top: 14px
		color: #A6A6A6
		padding: 0 2px
		transition: transform .3s

	&__text
		width: 100%
		border: 1px solid #C4C7CA
		border-radius: 4px
		font: 400 16px/112.5%  $textFont
		padding: 13px

		&:not(:placeholder-shown)
			& + .input__label
				+focus
				color: $focusColor
				transform: translateY(-25px)
				background: $white
		
		&::placeholder
			color: $white
	
		&:hover
			border-color: $black

		&:focus
			border-color: #C4C7CA

		&:focus
			+focus
			border-color: $focusColor
			& + .input__label
				+focus
				color: $focusColor
				transform: translateY(-25px)
				background: $white
				
	&__error
		position: absolute
		left: 0
		font: 400 13px/138% 
		color: $buttonColor
		bottom: -16px
